@font-face {
  font-family: "Inter";
  font-weight: 400;
  src: url(../../fonts/Inter-Regular.woff) format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "Inter";
  font-weight: 900;
  src: url(../../fonts/Inter-Bold.woff) format("woff");
  font-weight: bold;
}

.page {
  background: #2a2c2f;
  padding-top: 28px;
  color: white;
  font-family: "Inter", "Arial", sans-serif;
}
