.two-blocks-box {
  max-width: 984px;
  margin: 0 auto;
}

@media (max-width: 1024px) {
  .two-blocks-box {
      max-width: 928px;
  }
}

@media (max-width: 768px) {
  .two-blocks-box {
      max-width: 768px;
  }
}

@media (max-width: 320px) {
  .two-blocks-box {
      max-width: 320px;
  }
}