.place__link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 0;
  transition: opacity .3s ease;
}

.place__link:hover {
  opacity: .8;
}  